body {
    background-color: grey;
    }
nav {
    border-style: solid;
    border-color: black;
}
img {
  height: 500px;
  width: 250px;
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
  border-style: solid;
  border-radius: 10px;
  padding: 2px;
  border-color: black;
  
}
.about {
  background-color:lightgray;
  padding: 20px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;

  
}
article {
  font-size: 18px;
  font-family: Arial;

}
h1 {
  font-family: arial;
}
.who {
  margin-left: 10px;
}
.thumbnail {
    width: 500px;
    height: 300px;         
    margin-bottom: 3px;
    border-style: solid;
    border-radius: 10px;
    padding: 2px;
    border-color: black;
}
.see{
  float: right;
}
.form{
    margin-left: 10px;
    width: 250px;
}    
.form2{
    margin-left: 14px;
    width: 250px;
}
.form3{
    margin-left: 25px;
    width: 250px;
    
}
.send{
    width: 200px;
    height: 50px;
    margin-left: 118px;
    
}
@media screen and (max-width: 500px) {
   
    .thumbnail{
        width: 100px;
        height: 100px;
    }
    img{
        height: 300px;
        width: 150px;
        margin-bottom: 2px;
    }
    article{
        font-size: 16px;
    }

  }